#contentarea-solution{
background-color:#ffffff;
height:795px;
width:742px;
padding-top:10px;
border:2px solid #F5F5F4;
float:left;
margin-left:10px;
background-image:url(../images/lady.jpg);
background-repeat:no-repeat;
background-position:bottom right;
}

#solution-left{
width:730px;
padding-top:0px;
border:0px solid #F5F5F4;
float:left;
padding-left:10px;
padding-right:0px;
}
#solution-leftnew{
width:70%;
padding-top:10px; border-top:2px dotted #666666;
float:left;
padding-left:0px;
padding-right:0px;
}
#img{
width:61px;
padding-top:0px;
padding-bottom:10px;
float:left;
padding-left:0px;
padding-right:0px;
}
#check{
width:90px;
padding-top:0px;
font-size:12px; font-weight:bold;
float:left;
padding-left:0px;
padding-right:0px;
}
#text{
width:300px;
padding-top:0px;
font-size:11px; color:#333333; line-height:18px;
float:left;
padding-left:0px;
padding-right:0px;
}

#go{
width:60px;
padding-top:0px;
float:right;
padding-left:0px;
padding-right:0px;
}


#contentarea-register{
background-color:#ffffff;
height:795px;
width:742px;
padding-top:0px;
border:2px solid #F5F5F4;
float:left;
margin-left:10px;
}
#contentarea-registerleft{
background-color:#ffffff;
height:auto;
width:100%;
padding-top:20px;
float:left;
margin-left:0px;
vertical-align:bottom;
}

#contentarea-account{
background-color:#ffffff;
height:795px;
width:734px;
padding-top:10px;
padding-left:8px;
border:2px solid #F5F5F4;
float:left;
margin-left:10px;
}


#account-left{
width:380px;
padding-top:0px;
border:0px solid #F5F5F4;
float:left;
padding-left:5px;
padding-right:0px;
background-color:#F5F5F4;
}


#account-leftnew{
width:370px;
padding-top:10px; border-top:2px dotted #666666;
float:left;
padding-left:0px;
padding-right:0px;
padding-bottom:10px;
background-color:#F5F5F4
}

#accounttext{
width:125px;
padding-top:0px;
font-size:13px; color:#333333; line-height:18px;
float:left;
padding-left:0px;
padding-right:0px;
}
#accounttext1{
width:125px;
padding-top:0px;
font-size:13px; color:#333333; line-height:18px;
float:left;
padding-left:10px;
padding-right:0px;
}
#accounttext2{
width:100px;
padding-top:0px;
font-size:13px; color:#333333; line-height:18px;
float:left;
padding-left:10px;
padding-right:0px;
}
#accounttext3{
width:375px;
padding-top:0px;
font-size:13px; color:#333333; line-height:18px;
float:left;
padding-left:0px;
padding-right:0px;
}
#accounttextnew{
width:30%;
padding-top:0px;
font-size:13px; color:#0C6AA7; line-height:18px; font-weight:bold;
float:left;
padding-left:0px;
padding-right:0px;
}

#account-right{
width:330px;
padding-top:0px;
height:440px;
background-color:#F5F5F4;
float:left;
margin-left:10px;
margin-right:0px;
}
#account-rightnew{
width:320px;
padding-top:10px; border-bottom:2px dotted #666666;
float:left;
margin-left:5px;
margin-right:5px;
padding-bottom:0px;


}

#accounttext-r{
width:230px;
padding-top:0px;
float:left;
padding-left:0px;
padding-right:0px;
padding-bottom:10px;
}
#accounttext-r1{
width:80px;
padding-top:0px;
float:left;
padding-left:0px;
padding-right:0px;
}

#application-leftnew{
width:370px;
padding-top:10px; border-top:2px dotted #666666;
float:left;
padding-left:0px;
padding-right:0px;
padding-bottom:10px;
background-color:#F5F5F4;
height:390px;
}

#application{
background-color:#FF6600;
width:290px;
float:left;
height:25px;
}

#application1{
width:75px;
float:left;
height:25px;
padding-bottom:10px;
}
#applicationnew{
background-color:#0C6AA7;
width:290px;
float:left;
height:25px;
}
#applicationnew1{
background-color:#C0C0C0;
width:290px;
float:left;
height:25px;
}

